/* Reset some default styles */
body,
html,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}
.taskContainer {
  padding: 10px;
}
