.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-right: 10px;
}

.inputNumber,
.inputCheckbox,
.inputRange {
  margin: 10px 0;
}

.imgPreview {
  margin: 20px 0;
  max-width: 100%;
  height: auto;
}

.button {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
